<ion-modal-view class="img-slide" on-touch ='vm.touch()' on-drag="vm.drag()" on-release="vm.release()">
    <style>

    </style>
    <div class="slidebg">
        <div class="bg-num"  ng-click="vm.closeModal()">
            <span>{{vm.navNum}}</span>
        </div>
    </div>
    <ion-content class="imgs-container" overflow-scroll="true" ng-click="vm.closeModal()">
        <ion-slide-box show-pager="false" on-slide-changed="vm.slideHasChanged($index)" delegate-handle="imgslide">
            <ion-slide ng-repeat="imgUrl in vm.imgArr">
                <img ng-src="{{imgUrl}}"><span></span>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-modal-view>
