<ion-modal-view class="xs-picker city-picker">
    <style>
        .xs-picker{
            z-index: 1;
            background-color: rgba(38,38,38,0.5);
        }
        .xs-picker .picker-bg{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 2;
        }
        .xs-picker .main-box{
            width: 100%;
            height: 250px;
            position: absolute;
            bottom: 0;
            background-color: #fff;
            z-index: 3;
        }
        .xs-picker .main-box .nav-box{
            width: 100%;
            height: 40px;
            line-height: 40px;
            position: relative;
            text-align: center;
        }
        .xs-picker .main-box .nav-box:after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            transform: scale(1,.5);
            background: #ccc;
        }
        .xs-picker .main-box .nav-box .left-button{
            padding-left: 10px;
            float: left;
        }
        .xs-picker .main-box .nav-box h4{
            display: inline-block;
        }
        .xs-picker .main-box .nav-box .right-button{
            padding-right: 10px;
            float: right;
        }
        .xs-picker .main-box .main{
            position:relative;
            width: 100%;
            height: 210px;
        }
        .xs-picker .main-box .main .picker-center-highlight{
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            display: -webkit-flex;
            display: flex;
            pointer-events: none;
        }
        .xs-picker .main-box .main .picker-center-highlight:before {
            height: 100%;
            margin: 0 auto;
            z-index: 3;
            background-image: -webkit-linear-gradient(top,hsla(0,0%,100%,.95),hsla(0,0%,100%,.6)),-webkit-linear-gradient(bottom,hsla(0,0%,100%,.95),hsla(0,0%,100%,.6));
            background-image: linear-gradient(180deg,hsla(0,0%,100%,.95),hsla(0,0%,100%,.6)),linear-gradient(0deg,hsla(0,0%,100%,.95),hsla(0,0%,100%,.6));
            background-position: top,bottom;
            background-size: 100% 90px;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            width: 100%;
        }
        .xs-picker .main-box .main .picker-center-highlight:after {
            content: '';
            width: 100%;
            height: 30px;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top:-16px;
            z-index: 3;
            background-image: -webkit-linear-gradient(top,#d0d0d0,#d0d0d0,transparent,transparent),-webkit-linear-gradient(bottom,#d0d0d0,#d0d0d0,transparent,transparent);
            background-image: linear-gradient(180deg,#d0d0d0,#d0d0d0,transparent,transparent),linear-gradient(0deg,#d0d0d0,#d0d0d0,transparent,transparent);
            background-position: top,bottom;
            background-size: 100% 1px;
            background-repeat: no-repeat;
        }
        .xs-picker .main-box .main .picker-center-highlight .highlight-tag{
            flex : 1;
            -webkit-flex : 1;
            position: relative;
            height: 30px;
            margin-top: 90px;
        }
        .xs-picker .main-box .main .picker-center-highlight .highlight-tag2{
            flex : 2;
            -webkit-flex: 2;
        }
        .xs-picker .main-box .main .picker-center-highlight .highlight-tag .msg-tag{
            position: absolute;
            right: 0;
            top:5px;
            font-size: 18px;
        }
        .xs-picker .main-box .main .main-workarea{
            width: 100%;
            height: 100%;
            display: -webkit-flex;
            display: flex;
        }
        .xs-picker .main-box .main .main-workarea .picker-col{
            flex: 1;
            -webkit-flex: 1;
        }
        .xs-picker .main-box .main .main-workarea .picker-col-2{
            flex: 2;
            -webkit-flex: 2;
        }
        .xs-picker .main-box .main .main-workarea .ionic-scroll{
            height: 210px;
        }
        .xs-picker .main-box .main .main-workarea .ionic-scroll .scroll{
            margin: 90px 0;
        }
        .xs-picker .main-box .main .main-workarea .picker-col li{
            width: 100%;
            height: 30px;
            text-align: center;
            font-size: 17px;
            line-height: 30px;
        }
    </style>
    <div class="picker-bg" ng-click="vm.close()"></div>
    <div class="main-box">
        <div class="nav-box">
            <div class="left-button default-color" ng-click="vm.close()">{{vm.cancelText}}</div>
            <h4>{{vm.title}}</h4>
            <div class="right-button default-color" ng-click="vm.confirm()">{{vm.confirmText}}</div>
        </div>
        <div class="main">
            <div class="picker-center-highlight"></div>
            <div class="main-workarea">
                <div class="picker-col">
                    <ion-scroll delegate-handle='scroll1' scrollbar-y="false" on-drag="vm.swipe('scroll1')" on-release="vm.release('scroll1')">
                        <ul>
                            <li ng-repeat="province in vm.sources">{{province.name}}</li>
                        </ul>
                    </ion-scroll>
                </div>
                <div class="picker-col">
                    <ion-scroll delegate-handle='scroll2' scrollbar-y="false" on-drag="vm.swipe('scroll2')" on-release="vm.release('scroll2')">
                        <ul>
                            <li ng-repeat="city in vm.selScroll1.sub">{{city.name}}</li>
                        </ul>
                    </ion-scroll>
                </div>
                <div class="picker-col picker-col-2">
                    <ion-scroll delegate-handle='scroll3' scrollbar-y="false" on-drag="vm.swipe('scroll3')" on-release="vm.release('scroll3')">
                        <ul>
                            <li ng-repeat="region in vm.selScroll2.sub">{{region.name}}</li>
                        </ul>
                    </ion-scroll>
                </div>
            </div>
        </div>
    </div>
</ion-modal-view>
