<ion-modal-view class="xs-picker city-picker">
    <div class="picker-bg" ng-click="vm.close()"></div>
    <div class="main-box">
        <div class="nav-box">
            <div class="left-button default-color" ng-click="vm.close()">{{vm.cancelText}}</div>
            <h4>{{vm.title}}</h4>
            <div class="right-button default-color" ng-click="vm.confirm()">{{vm.confirmText}}</div>
        </div>
        <div class="main">
            <div class="picker-center-highlight"></div>
            <div class="main-workarea">
                <div class="picker-col">
                    <ion-scroll delegate-handle='scroll1' scrollbar-y="false" on-drag="vm.swipe('scroll1')" on-release="vm.release('scroll1')">
                        <ul>
                            <li ng-repeat="province in vm.sources">{{province.name}}</li>
                        </ul>
                    </ion-scroll>
                </div>
                <div class="picker-col">
                    <ion-scroll delegate-handle='scroll2' scrollbar-y="false" on-drag="vm.swipe('scroll2')" on-release="vm.release('scroll2')">
                        <ul>
                            <li ng-repeat="city in vm.selScroll1.sub">{{city.name}}</li>
                        </ul>
                    </ion-scroll>
                </div>
                <div class="picker-col picker-col-2">
                    <ion-scroll delegate-handle='scroll3' scrollbar-y="false" on-drag="vm.swipe('scroll3')" on-release="vm.release('scroll3')">
                        <ul>
                            <li ng-repeat="region in vm.selScroll2.sub">{{region.name}}</li>
                        </ul>
                    </ion-scroll>
                </div>
            </div>
        </div>
    </div>
</ion-modal-view>